.all-posts{
  padding-top:1.5rem;
  border-top:0.0625rem solid #c5c4c3;
  .category-title{
    margin-bottom:1rem;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
  }
  .post-card{
    flex: 1 1 26rem;
    flex-direction: column;
    &__img,&__content{
      width: 100%;
    }
    &:nth-child(1){
      padding-top:0;
    }
    @media(min-width:832px){
      border-bottom: 0.0625rem solid #c5c4c3 !important;
      &:nth-child(even){
        border-right: none;
        padding: 1.875rem 0 1.875rem 1.875rem;
        @media (max-width: 1219px){
          padding: 1rem 0 1rem 1rem;
        }
      }
      &:nth-child(2){
        padding-top:0;
      }
    }
  }
}