.banner {
  border-bottom: 0.0625rem solid #c5c4c3;
  padding-bottom:2rem;
  padding-bottom:2rem;
  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 758 / 624;
  }
  &__swiper{
    .swiper-slide{
      @include imageHover();
    }
  }
  &__text-swiper-container{
    margin-top:-2.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    @media(max-width:559px){
      gap:0.5rem;
    }
    .swiper-next,.swiper-prev{
      flex-shrink: 0;
    }
    .swiper{
      background-color: white;
      max-width: 27.375rem;
      margin:0;
    }
  }
  &__title-container {
    text-align: center;
    padding:1rem 3.125rem;
    a {
      display: block;
      &:hover,&:focus{
        opacity: .6;
      }
    }
    .category-title {
      margin-bottom: 1rem;
    }
  }
}
