.category-preview{
  background-color: #f3f1ee;
  padding:30px 0;
  .category-title{
    display: block;
    margin:auto;
    margin-bottom:1.2rem;
  }
  &__content{
    display: flex;
    gap:40px;
    @media(max-width:1219px){
      gap:1rem;
    }
    @media(max-width:703px){
      flex-direction: column;
    }
  }
  .p{
    line-height: 1.3;
  }
}