@mixin scrollbar(){
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
    &-track {
      background: lighten(#b9b9b9,15);
      border-radius: 0.5rem;
    }
    &-thumb {
      background: #b9b9b9;
      border-radius: 0.5rem;
    }
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: white;
  border-bottom: 0.0625rem solid #d8d8d8;
  text-transform: uppercase;
  & + main{
    margin-top:4.6875rem
  }
  &__logo {
    width: 100%;
    max-width: 11.1875rem;
    img {
      width: 100%;
      height: 2.9375rem;
    }
  }
  nav {
    width: 100%;
    font-size: 0.75rem;
    ul {
      display: flex;
      align-items: center;
      gap: 1rem;
      a,
      span {
        color: black;
        font-weight: 600;
        position: relative;
        &:after {
          content: "";
          width: 0;
          height: 0.0625rem;
          background-color: black;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: 0.3s;
        }
        &:hover,
        &:focus {
          &:after {
            width: 100%;
          }
        }
      }
    }
    &:last-of-type {
      ul {
        justify-content: flex-end;
      }
    }
  }
  .main-nav {
    .has-dropdown {
      &__down {
        width: 1rem;
        transition: 0.3s;
      }
      & > li:not(.dropdown) {
        position: relative;
        padding: 1.8125rem 0;
        & > a,
        span {
          display: flex;
          align-items: center;
          gap: 0.1875rem;
          &:hover,
          &:focus {
            &:after {
              width: calc(100% - 1.15rem);
            }
          }
        }
        &:hover,
        &:focus {
          a,
          span {
            .has-dropdown__down {
              transform: rotate(0.5turn);
            }
          }
          & + .dropdown {
            max-height: 40rem;
            padding: 2.5rem 2rem;
          }
        }
      }
    }
    .dropdown {
      position: absolute;
      top: 100%;
      width: 100%;
      left: 0;
      display: flex;
      align-items: flex-start;
      gap: 2rem;
      padding: 0 2rem;
      max-height: 0;
      overflow: hidden;
      transition: 0.3s;
      background-color: #f3f1ee;
      &:hover,
      &:focus {
        max-height: 40rem;
        padding: 2.5rem 2rem;
      }
      &__links {
        flex-direction: column;
        align-items: flex-start;
        width: 10%;
        max-width: 14.75rem;
        max-height: 18rem;
        @include scrollbar();
      }
      &__posts {
        width: 90%;
        a {
          color: #323132;
          font-size: 0.9rem;
          font-weight: 500;
          &:hover,
          &:focus {
            img {
              transform: scale(1.1);
            }
          }
        }
        &__img {
          width: 100%;
          display: block;
          overflow: hidden;
          aspect-ratio: 1/1;
          margin-bottom: 0.625rem;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s;
          }
        }
      }
    }
  }
  .toggle-search {
    width: 1.7rem;
    svg {
      width: 100%;
    }
    &:hover,
    &:focus {
      svg {
        fill: #f00;
      }
    }
  }
  &__form {
    background-color: #ffffffe6;
    position: absolute;
    top: calc(100% + 0.0625rem);
    left: 0;
    width: 100%;
    height: 20rem;
    transition: 0.3s;
    overflow: hidden;
    padding: 0 2rem;
    max-height: 0;
    &.active {
      padding: 2.5rem 2rem;
      max-height: 20rem;
    }
    &__flex {
      margin-bottom: 1.5rem;
      &,
      button {
        display: flex;
        align-items: center;
      }
      gap: 2rem;
      input {
        font-size: 2rem;
        outline: 2px solid #d6d5d6;
        border-radius: 0.3125rem;
        padding: 0.5rem;
        &:focus {
          outline-color: #323132;
        }
      }
      button {
        font-size: 0.875rem;
        letter-spacing: 0.05rem;
        gap: 0.5rem;
        svg {
          width: 2rem;
        }
        &:hover,
        &:focus {
          svg {
            transform: translateX(0.5rem);
          }
        }
      }
    }
    label {
      font-size: 10px;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      select {
        font-size: inherit;
        border: none;
      }
    }
  }
  &__mobile-button {
    display: none;
    flex-shrink: 0;
    padding: 0;
    background: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    width: 1.8125rem;
    border: none;
    margin-left:1rem;
    span {
      width: 100%;
      height: 0.1875rem;
      border-radius: 0.25rem;
      background-color: black;
      display: block;
      transition: 0.3s;
    }
    &.active {
      span {
        &:nth-child(2) {
          width: 0;
        }
        &:nth-child(1) {
          transform: translateY(0.5625rem) rotate(-45deg);
        }
        &:nth-child(3) {
          transform: translateY(-0.5625rem) rotate(45deg);
        }
      }
    }
  }
  @media (min-width: 1283px) {
    .mobile-only {
      display: none !important;
    }
  }
  @media (max-width: 1282px) {
    padding: 0 1rem;
    &__mobile-button{
      display: flex;
    }
    .desktop-only {
      display: none;
    }
    &__form{
      padding:0 1rem;
      &.active{
        padding:1rem;
      }
      &__flex{
        gap:1rem;
        margin-bottom:0.5rem;
        input{
          font-size:1.2rem;
          width: 100%;
        }
      }
      label{
        font-size:0.8rem;
      }
    }
    .main-nav {
      position: absolute;
      top: calc(100% + 1px);
      left: 0;
      width: 100%;
      background-color: white;
      padding:0 1rem;
      height: calc(100vh - 53px);
      max-height: 0;
      transition: 0.3s;
      &.active{
        padding: 1rem;
        max-height: calc(100vh - 53px);
      }
      @include scrollbar();
      ul {
        li:not(:last-child) {
          &:not(.dropdown){
            padding-bottom: 1rem;
          }
        }
      }
      .has-dropdown > li:not(.dropdown) {
        width: 100%;
        padding: 0;
        padding-bottom: 1rem;
        a {
          display: none;
        }
        span {
          justify-content: space-between;
          img {
            width: 1.3rem;
          }
        }
        &:hover + .dropdown {
          padding: 0 1rem;
          margin-bottom: 1rem;
        }
      }
      ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
      }
      .dropdown__posts {
        display: none;
      }
      .dropdown {
        position: unset;
        background: none;
        padding: 0 1rem;
        &__links {
          width: 100%;
          max-width: unset;
        }
        &:hover {
          margin-bottom: 1rem;
          padding: 0 1rem;
        }
      }
    }
  }
}
