.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: white;
  border-bottom: 0.0625rem solid #d8d8d8;
  text-transform: uppercase;
  nav {
    width: 100%;
    font-size: 0.75rem;
    ul {
      display: flex;
      align-items: center;
      gap: 1rem;
      a {
        color: black;
        font-weight: 600;
        position: relative;
        &:after {
          content: "";
          width: 0;
          height: 0.0625rem;
          background-color: black;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: 0.3s;
        }
        &:hover,
        &:focus {
          &:after {
            width: 100%;
          }
        }
      }
    }
    &:last-of-type {
      ul {
        justify-content: flex-end;
      }
    }
  }
  .has-dropdown {
    & > ul > li {
      position: relative;
      padding: 1.8125rem 0;
      & > a {
        display: flex;
        align-items: center;
        gap: 0.1875rem;
        &:hover,
        &:focus {
          &:after {
            width: calc(100% - 1.15rem);
          }
        }
      }
      &:hover,
      &:focus {
        a .has-dropdown__down {
          transform: rotate(0.5turn);
        }
        & + .dropdown {
          max-height: 40rem;
          padding: 2.5rem 2rem;
        }
      }
    }
    .dropdown {
      position: absolute;
      top: 100%;
      width: 100%;
      left: 0;
      display: flex;
      align-items: flex-start;
      gap: 2rem;
      padding: 0 2rem;
      max-height: 0;
      overflow: hidden;
      transition: 0.3s;
      background-color: #f3f1ee;
      &:hover,
      &:focus {
        max-height: 40rem;
        padding: 2.5rem 2rem;
      }
      &__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 10%;
        max-width: 14.75rem;
      }
      &__posts {
        width: 90%;
        a {
          color: #323132;
          font-size: 0.9rem;
          font-weight: 500;
          &:hover,&:focus{
            img{
              transform: scale(1.1);
            }
          }
        }
        &__img{
          width: 100%;
          display: block;
          overflow: hidden;
          aspect-ratio: 1/1;
          margin-bottom: 0.625rem;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s;
          }
        }
      }
    }
    &__down {
      width: 1rem;
      transition: 0.3s;
    }
  }
  &__logo {
    width: 100%;
    max-width: 11.1875rem;
    img {
      width: 100%;
      height: 2.9375rem;
    }
  }
}
