.post-card {
  display: flex;
  gap: 2rem;
  border-right: 1px solid #c5c4c3;
  border-bottom: 1px solid #c5c4c3;
  padding: 30px 30px 30px 0;
  &:last-child {
    border-bottom: none;
  }
  &__img {
    position: relative;
    width: 40%;
    @include imageHover();
    & > span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      background-color: rgba(255, 255, 255, 0.664);
      opacity: 0;
      transition: 0.3s;
      span {
        display: block;
        margin: auto;
        text-align: center;
        font-weight: 600;
        line-height: 1.1;
        transform: translateY(10px);
        transition: 0.3s;
      }
    }
    &:hover,
    &:focus {
      & > span {
        opacity: 1;
        span {
          transform: translateY(0);
        }
      }
    }
  }
  &__content {
    width: 60%;
    .category-title {
      margin-bottom: 1rem;
      display: block;
    }
    h3 {
      font-size: 50px;
      font-weight: 500;
      margin-bottom: 21px;
    }
    a:hover {
      opacity: 0.6;
    }
  }
  @media (max-width: 1219px) {
    gap: 1rem;
    padding: 1rem;
  }
  @media (max-width: 985px) {
    &__img {
      width: 100%;
    }
    &__content {
      width: 100%;
      h3,
      .category-title {
        margin-bottom: 0.5rem;
      }
      h3 {
        font-size: 1.5rem;
      }
      .p {
        font-size: 13px;
        line-height: 1.3;
      }
    }
  }
}
